# My git ignore using template from GitHub

# Executables
*.exe
*.out
*.app

# Metadata
*.idea
*/.metadata/

*/.recommenders/

# Compiled class file
*.class
*.classpath
*.project
*/.settings/

# Log file
*.log
